@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:focus,
a:active,
a:hover {
  outline: none;
}

aside,
nav,
footer,
header,
main,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

p + p {
  margin-top: 1em;
}

ul {
  list-style: none;
}

img,
svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

input,
textarea,
button,
select _ {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:active,
input:focus,
button:active,
button:focus {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
  color: white;
  background-image: url("../images/bg.jpg");
  background-position: 50%;
  overflow: hidden;
}

.overlay {
  visibility: hidden;
  opacity: 0;
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(17, 17, 17, 0.44);
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 34px;
}
.overlay.show {
  visibility: visible;
  opacity: 1;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}
.modal.hide {
  visibility: visible;
  opacity: 1;
  z-index: 500;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  z-index: 500;
}
.modal.open .modal__content {
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  opacity: 1;
}
.modal.open .modal__overlay {
  opacity: 1;
}
.modal__overlay {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.modal__content {
  position: relative;
  top: 40%;
  z-index: 2;
  margin: 0 auto;
  padding: 10px 15px;
  border-radius: 10px;
  min-width: 300px;
  height: auto;
  min-height: 300px;
  background: #282828;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translate(0, -20%);
      -ms-transform: translate(0, -20%);
          transform: translate(0, -20%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.modal__header {
  padding-bottom: 10px;
  border-bottom: 1px solid #353535;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal__title {
  font-size: 24px;
}
.modal__close {
  cursor: pointer;
}
.modal__main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 10px 0;
}
.modal__footer {
  padding-top: 10px;
  border-top: 1px solid #353535;
}
.modal__button {
  color: white;
}

.lobby {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.lobby.hide {
  bottom: 100%;
}
.lobby__list {
  font-size: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  text-transform: uppercase;
}
.lobby__list li:not(:first-child) {
  margin-top: 10px;
}
.lobby__link {
  color: white;
  text-transform: uppercase;
  font-size: 28px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.lobby__link:hover {
  color: #cbcbcb;
}

.options-icon {
  position: absolute;
  z-index: 1000;
  top: 20px;
  left: 4vw;
}
.options-icon .fa-gear {
  color: white;
  font-size: 26px;
  cursor: pointer;
}

.game-options .modal__content {
  width: 80%;
  height: 80%;
  top: 47%;
}
.game-options .modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.game-options .modal__button {
  margin: 0 10px;
}
.game-options__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.game-options__player {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.game-options__player:first-child {
  border-right: 1px solid #353535;
}
.game-options__player:last-child {
  border-left: 1px solid #353535;
}
.game-options__player-title {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.game-options__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 20px;
}
.game-options__item {
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game-options__item-input {
  width: 40px;
  height: 30px;
  padding: 5px 10px;
  border-radius: 20px;
  text-align: center;
  background: #343434;
  color: white;
  cursor: pointer;
}
.game-options__item-input.active {
  border: 1px solid #52549f;
  background: #64b1ba;
}

.game-start .modal__content {
  width: 400px;
}
.game-start .modal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.game-start .modal__main-title {
  margin-top: 20px;
  font-size: 22px;
  text-transform: uppercase;
}
.game-start .modal__button {
  margin: 0 10px;
}
.game-start .modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.game-start .nickname-input {
  width: 80%;
  margin: 0 auto;
  border-radius: 16px;
  padding: 5px 10px;
  background: #3d3e3f;
  color: white;
}

.prismary {
  padding: 5px 10px;
  border-radius: 10px;
  background: #41b0d0;
}

.danger {
  padding: 5px 10px;
  border-radius: 10px;
  background: #c3254c;
}

.game__layer {
  width: 75vw;
  max-width: 1000px;
  height: 45vw;
  max-height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  -webkit-transform: translate(-50%, -20%);
      -ms-transform: translate(-50%, -20%);
          transform: translate(-50%, -20%);
  -webkit-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.game__layer.active {
  z-index: 100;
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -40%);
      -ms-transform: translate(-50%, -40%);
          transform: translate(-50%, -40%);
}
.game__board {
  position: absolute;
}
.game__rocket {
  position: absolute;
  border-radius: 10px;
}
.game__player-nickname {
  border-radius: 15px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.game__player-score {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  font-size: 32px;
}
.game__ball {
  border-radius: 50%;
}

.close-icon {
  position: absolute;
  z-index: 200;
  top: 20px;
  left: 95vw;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}
.close-icon .fa-xmark {
  position: relative;
  font-size: 30px;
  color: rgb(219, 76, 76);
  cursor: pointer;
  opacity: 0;
  top: -100px;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
}